/*
 *
 *  Estilo para la pagina de Categorias
 *
 */
#main-content-categorias{
    /*border: 1px solid red;*/
    background: white;
    width: 98%;
    max-width: 1140px;
    /* si quieremos agrandar verticalmente
           height: 90%;
           max-height: 900px;
   */
    margin: 0px auto;  /* 20px auto; */
    margin-bottom: 15px; /*separamos el footer del content si queremos */
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    /*border: 1px solid red;*/
}


#main-content-categorias header,
#main-content-categorias .categorias-content {
    padding: 20px;
    /*width: 300px;*/
    clear: both;
}
#main-content-categorias .categorias-ul{
    list-style-type: none;
    text-align: center;
}

#main-content-categorias .categogias-li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#main-content-categorias .categogias-li .category-of-products {
    padding:170px 50px 0px 70px; /*arriba, derecha, abajo, izquierda */
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}
#main-content-categorias .categogias-li .category-of-products:hover{
    background-color: #DD5050;
    color: #ffffff;
}