#main-footer {
    /*border: 1px solid black;*/
    background-color:  white;
    height: 100px; /*altura*/
    width: 98%;
    max-width: 1140px;
    margin: 0px auto; /* 20px auto; */
    left: 0;
    top: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-top: 5px; /*separacion del main-content con footer */
    background: #F0EFEF;

}
#main-footer p {
    margin: 0;
    text-align: center;
    padding-top: 40px;
}

#main-footer a {
    color: black;
}

