/*
 *
 *  Estilo para la pagina del Registro de usuario
 *
 */
#main-content-registro {
    /*border: 1px solid red;*/
    background: white;
    width: 90%;
    max-width: 1140px;
    margin: 0px auto;  /* 20px auto; */
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
#main-content-registro header,
#main-content-registro .registro-content{
    padding: 20px;
}

#main-content-registro .registro-content,
#main-content-registro input
{
    width: 300px;
    clear: both;
}
